{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">

            <!-- this is added security for any form in django  -->
            <!-- without it the form won't work -->
            {% csrf_token %}

            <!-- this tag is used to group related tags -->
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>

                <!-- here as_p method is used to make it line by line 
                by making a p tag for all the fields -->
                <!-- {{ form.as_p }} -->

                <!-- this is the use of filter by | using crispy -->
                {{ form|crispy }}

            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>

        </form>
    </div>
{% endblock content %}